<div class="text-white message-item-container m-2 p-2 font-team" [ngClass]="{'right': self }">

  <div class="container-flex " [ngClass]="{'row-reverse': self }">
    <div class="chat-info p-3 mx-3">
      <div class="chat-img-container">

        <img *ngIf="!self" [src]="(_shared.otherPerson )?_shared.otherPerson.photoURL:'../../../../../../assets/dummy.jpg'" alt="">
        <img *ngIf="self" [src]="(_shared.currentUser )?_shared.currentUser.photoURL:'../../../../../../assets/dummy.jpg'" alt="">
      </div>
      <div class="info text-base font-3">
        8:00Pm
      </div>
    </div>
    <div class="message-container">
      <p class="message bg-base p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ut beatae, tempora nostrum laudantium dolores
        odio, nihil voluptatem fuga fugit voluptatum. Dolorem aut saepe facere soluta explicabo consequatur accusamus
        suscipit!
      </p>
    </div>
  </div>
</div>
