@import 'main';
.logo-container{
  position: absolute;
  height: 100px;
  width: 100px;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

}

.logo-box-shadow{
  @include box-shadow-custom(6px ,-2px ,4px, 2px ,'white');
}
