@import 'main';
.messages
{
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  overflow-y: scroll;
  background-color: #f3f3f3;
}


::-webkit-scrollbar {
  width: .5rem;

}

/* Track */
::-webkit-scrollbar-track {
  background: get-theme-color(white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: get-theme-color(base);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
