@import 'main';

.message-input-container {


  // box-shadow-custom($x,$y,$blur,$spread,$color)
  @include box-shadow-custom(0, 0, 11px, 1px, text);
  width: 100%;
  // margin-top: auto;
  mat-form-field{
    width: 85% !important;
    textarea {
    margin-top: auto !important;
resize: none;
    }
  }

}

::-webkit-scrollbar {
  width: .1rem;

}

/* Track */
::-webkit-scrollbar-track {
  background: get-theme-color(white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: get-theme-color(base);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
