<div class="message-input-container  container-flex justify-content-center align-items-center">
  <mat-form-field >
    <textarea class=" font-team font-4" name="" id=""  matInput
    >

    </textarea>

    </mat-form-field>
    <div class="container-flex text-base h-100 ">
      <mat-icon class="mx-2 cursor-pointer">
        attachment
      </mat-icon>
      <mat-icon class="mx-2 cursor-pointer">
        image
      </mat-icon>
      <mat-icon class="mx-2 cursor-pointer">
        send
      </mat-icon>

    </div>
</div>

