@import "main";

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background: linear-gradient(
  //   90deg,
  //   rgba(187, 187, 190, 1) 26%,
  //   rgba(177, 189, 191, 1) 94%
  // );
  form {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .mat-card {
      box-shadow: 0px 0px 10px 0px #9b9b9b, 0 1px 1px 0 #9b9b9b,
        0 1px 3px 0 #9b9b9b;
    }
    .card {
      width: 50vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: get-theme-color(base);

      mat-form-field {
        margin: 1rem 0;
        justify-content: center;
        input {
          background-color: get-theme-color(base);
          color: get-theme-color(white);
        }
        input:focus{
          outline: none
          }
        .password-container {
          display: flex;
          mat-icon {
            color: get-theme-color(white);
          }
        }
      }

      div {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        span {
          color: get-theme-color(white);
          $val: get-theme-color(white);
          a {
            color: get-theme-color(white);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.1rem;
            font-style: normal;
            &:hover {
              border-bottom: 2px solid get-theme-color(white);
            }
          }
        }
        &.button-container {
          justify-content: center;
          button {
            width: 10rem;
            margin: 1rem 0;
            color: get-theme-color(text);
          }
        }
      }
    }
  }
}
