<div class="container">
  <form [formGroup]="_auth.loginForm">
    <mat-card class="card">
      <mat-form-field>
        <mat-label> Email </mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Password </mat-label>
        <div class="password-container">
          <input
            [type]="visibility ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <mat-icon (click)="visibility = !visibility">
            {{ visibility ? "visibility" : "visibility_off" }}
          </mat-icon>
        </div>
      </mat-form-field>
      <div>
        <span>
          Not a User <a [routerLink]="['', 'register']"> Register Now </a>
        </span>
      </div>
    <div class="button-container">
      <button (click)="_auth.emailLogin()" mat-flat-button color="primary">
        Login
      </button>
    </div>
    </mat-card>
  </form>
</div>
