@import 'main';
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  form {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .mat-card {
      box-shadow: 0px 0px 10px 0px #333, 0 1px 1px 0 #333, 0 1px 3px 0 #333;
    }
    .card {
      width: 60vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      mat-form-field {
        margin: .25rem 0;
        justify-content: center;

        .password-container {
          display: flex;

        }
      }
      button {
        margin: 1rem 0;

      }
      div {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-right: 2rem;
        align-items: center;
        span {

          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 1.1rem;
            font-style: normal;
            &:hover{
              border-bottom: 2px solid get-theme-color('base');
            }

          }
        }

        &.center-child{
          button{
            width: 10rem;
          }
        }
      }

    }
  }
}
