<div #containerRef style="height: 75vh; overflow-y: auto;" class="px-4 chats-container">
  <div infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [infiniteScrollContainer]="containerRef">
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
       <app-chat-item></app-chat-item>
  </div>
</div>






