.mat-option{
  line-height: 0!important;
  display: flex !important;
  align-items: center !important;

}

.mat-option .mat-option-text img{

  border-radius: 100%;
}
.chat-img-container {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-radius: 100%;

  img {
    height: 1.2rem;
    width: 1.2rem;
    object-fit: cover;
    border-radius: 100%;
  }
}
