.navbar{
  height: 5rem;
}
.brand{
  font-size: 1rem;
  letter-spacing: 3px;
}
.user{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .username{
    font-size: .8rem;
  }
}
.user-img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}
