<div class="navbar">
  <div class=" bg-base text-white font-5 container-flex align-items-center h-100 justify-content-between">
    <div class="person-2 container-flex align-items-center px-4 font-team">
      {{_shared.user ?_shared.user.displayName : 'Angel Priya'}}
    </div>
    <div class="icons-container px-6 cursor-pointer">
      <mat-icon class="px-2">
        videocam
      </mat-icon>
      <mat-icon class="px-2">
        person_add
      </mat-icon>
      <mat-icon class="px-2">
        more_horiz
      </mat-icon>
    </div>
  </div>
</div>
